# Assignment: Data-Load-Plot-CI

by Nick Lee Jerlung

In [28]:
# Import the necessary libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1 - Load the data

In [29]:
# Load the data from the Excel file
data = pd.read_excel("data/Demographic-data-Med2.xlsx", usecols=[1,2,3])

# Print the first five lines in data to establish what the data looks like
data.head(5)

,(Age) How old are you?,(Height) How tall are you (in cm)?,(Birthday) Is your birthday (day of month) on an even or odd date?
0,24,190,Odd
1,21,188,Odd
2,24,183,Odd
3,22,183,Odd
4,25,192,Even

In [30]:
# Check how many rows and columns in all
data.shape

(34, 3)

In [31]:
# Convert to data frame and describe the data
df = pd.DataFrame(data)
df.describe()

       (Age) How old are you?  (Height) How tall are you (in cm)?
count               34.000000                           34.000000
mean                22.823529                          181.500000
std                  3.849208                            9.336309
min                 19.000000                          159.000000
25%                 21.000000                          176.500000
50%                 22.000000                          182.500000
75%                 23.000000                          188.000000
max                 40.000000                          200.000000

## 2 - Remove the outliers

In [ ]:
# Remove the outliers