In [43]:
# Import the necessary libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [44]:
# import the data
data = pd.read_excel("data/SUS.xlsx")
data

    User ID:  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q9  Q9.1  Q10
0          1   2   4   4   4   3   4   4   4     4    4
1          2   3   3   3   4   2   3   2   2     3    4
2          2   3   2   3   3   3   3   3   3     3    4
3          3   2   3   2   3   3   3   3   2     4    3
4          4   3   4   4   4   4   4   4   4     3    3
5          5   3   3   3   3   3   2   3   3     3    2
6          6   3   3   3   3   3   3   4   4     3    4
7          7   3   4   3   4   3   3   3   3     4    3
8          8   2   3   3   3   3   3   4   2     3    3
9          9   2   4   3   4   3   3   4   4     3    4
10        10   2   2   2   3   3   2   3   2     2    2
11        11   1   4   4   1   1   1   4   1     1    3
12        12   3   3   3   4   3   3   4   4     3    4
13        13   2   3   3   3   4   3   4   4     3    3
14        14   1   3   3   3   2   3   3   3     3    2
15        15   1   4   4   4   2   3   4   3     4    3
16        16   2   4   4   4   4   4   4   4     4    4

In [45]:
df = pd.DataFrame(data)

sus_columns = ["Q1", "Q2", "Q3", "Q4", "Q5", "Q6", "Q7", "Q9", "Q9.1", "Q10"]
df["SUS_Score"] = df[sus_columns].sum(axis=1) * 2.5

df["SUS_Score"].describe()

count    17.000000
mean     77.058824
std      11.931946
min      52.500000
25%      70.000000
50%      80.000000
75%      85.000000
max      95.000000
Name: SUS_Score, dtype: float64